html {
    font-size: 14px;
}
.node-unit {
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    &+.unit-box,&+.node-unit{
        margin-left: 10px;
    }
}

.unit-box{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin-bottom : 10px;
    border: 1px solid #8b6e97;
    border-radius: 5px;
    &+.unit-box{
        margin-left: 10px;
    }
    &>.node-unit{
        padding: 0;
    }
}

.unit-box-comment{
    font-size: 12px;
    color: #d55656;
    margin-top: 5px;
}

.chars {
    border-bottom: dotted 1px #66b4a5;
}

.comment {
    color: #d55656;
    font-size: 12px;
    
}


.font-axi {
    color: #aba9a9;
    font-size: 12px;
}
